{% extends "base.html" %}

{% block title %}
	Manage Blocked IPs | Our World of Text
{% endblock %}

{% block header %}
	<h1>Manage Blocked IPs</h1>
	<span><a href="/administrator/">« Back to Admin Panel</a></span>
{% endblock %}

{% block endhead %}
	<style>
		.block_ip_input
	</style>
{% endblock %}

{% block content %}
	<div class="content_set">
		<div class="content_set_title">Restricted IPs</div>
		<div class=content_set_content>
			{% if restr_array.length %}
				<div style="background-color: #FFF">
					{% for ip in restr_array %}
						<span>{{ ip }}</span><br>
					{% endfor %}
				</div>
			{% else %}
				<b>No blocked IPs</b>
			{% endif %}
		</div>
	</div>
	<div class="content_set">
		<div class="content_set_title">Block IPs</div>
		<div class="content_set_content">
			{% if block_message %}
				<div class="content_set_content">
					<span style="font-size:80%"><i>{{ block_message }}</i></span>
				</div>
			{% endif %}
			<form method="POST" action=".">
				<input type="hidden" name="post_type" value="block_ip">
				<input type="text" name="ip_addr" autocomplete="off"><span> | Address</span><br>
				<input type="text" name="worlds_stringified" autocomplete="off"><span title="Leave blank for universal"> | Worlds</span><br>
				<input type="text" name="reason"><span> | Reason</span><br>
				<input type="submit" value="Restrict">
				
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}">
			</form>
		</div>
	</div>
	<div class="content_set">
		<div class="content_set_content">
			<div class="content_set_title">Unblock IPs</div>
			<div class="content_set_content">
			{% if unblock_message %}
				<div class="content_set_content">
					<span style="font-size:80%"><i>{{ unblock_message }}</i></span>
				</div>
			{% endif %}
			<form method="POST" action=".">
				<input type="hidden" name="post_type" value="unblock_ip">
				<span>Address:</span> <input type="text" name="ip_addr" value="" autocomplete="off">
				<input type="submit" value="Unrestrict">
				
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}">
			</form>
		</div>
		</div>
	</div>
{% endblock %}