{% extends "base.html" %}

{% block title %}
	User Monitor | Our World of Text
{% endblock %}

{% block endhead %}
	<script src="/static/yw/javascript/user_monitor.js" defer></script>
	<style>
		.socket_content {
			background: "#CCCCCC";
			border: 2px solid "#AAAAAA";
		}
	</style>
{% endblock %}

{% block header %}
	<h1>User Monitor</h1>
	<span><a href="/administrator/">« Back to Admin Panel</a></span>
{% endblock %}

{% block content %}
	<div class="content_set" style="width: 1000px;">
		<div class="content_set_title">Connected Sockets</div>
		<div class="content_set_content">
			<i style="font-size: 80%" id="message"></i>
			<div class="socket_content" id="sockets">
			{% for socket in socket_list %}
				<span id={{ socket.channel }}>
				[World: {{socket.world}}, Name: {{socket.username}}, Level: {{socket.level}}, ID: {{socket.clientId}}, Channel: {{socket.channel}}, IP: {{socket.ipAddress}}]
				</span><br>
			{% endfor %}
			</div>
			<button id="clear_breaks">Clear Breaks</button>
		</div>
	</div>
{% endblock %}